/* public/css/home.css */
.home-container {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.home-container h1 {
    color: #333;
}

.home-container p {
    font-size: 16px;
}

.missão-container, .visão-container, .valores-container {
    border: 2px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: justify; /* Justifica o texto */
}

.missão-container {
    color: white;
    background-color: #007bff;
    border-color: #0056b3;
}

.visão-container {
    color: white;
    background-color: #28a745;
    border-color: #218838;
}

.valores-container {
    border-color: #e0a800;
    background-color: #ffc107;
    color: white;
}

.highlight {
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Opcional: deixa a palavra em negrito */
}